<div id="frontpagebg">
    <div id="subtitle">Buy Items From My Mom's Basement</div>
    <div id="title">New Arrivals Daily</div>
    <a href="/shop" class="waves-effect waves-light btn-large" id="start-btn">Start Shopping Now!</a>
</div>