<div class="container">
    <div class="col s12 m12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://www.rei.com/media/3593bdc2-7c70-4d5d-93b5-f20ed37b5bc7?size=1020x510">
            </div>
            <div class="card-stacked">
                <span class="card-title">Card Title</span>
                <div class="card-content">
                    <p id="price">$34.99</p>
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                    <a href="#" class="waves-effect waves-light btn-small" id="start-btn">View Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgX6OHBBn_sHBIO1aZdP-geDHXjNheef5O98Rw-gHBQM54PSwpwQ" id="product">
            </div>

            <div class="card-stacked">
                <span class="card-title">Card Title</span>
                <div class="card-content">
                    <p id="price">$34.99</p>
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                    <a href="#" class="waves-effect waves-light btn-small" id="start-btn">View Product</a>
                </div>
            </div>
        </div>
    </div>
</div>