* {
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
}

#nav-items {
    margin-left: 100px;
}

#frontpagebg {
    background-image: url("../images/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

#subtitle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

#title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}

#start-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}